<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		
    <title>游戏大厅《Glimmer》</title>
		
		<!-- 设置页面图标 -->
		<link rel="shortcut icon" href="/images/logo/GlimmerIco.ico">

		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
			
		<!-- 导入自身依赖 -->
		<link href="./UserStylesheets/FunctionPage.less" rel="stylesheet/less"/>
		<script type="text/javascript" src="javascripts/less.min.js"></script>
	
  </head>
  <body>
		<!-- 动态背景 -->
		<canvas id="Back" width="300" height="150" style="position:fixed;left: 0px;top: 0px;"></canvas>		
		<!-- 主体内容 -->
		<div class="container-fluid" style="height:97%;margin-top: 3%;">
			<div id="Show_Body" class="col-md-12">
				<div id="Function_List" class="col-md-2 USB_Border">
					
					<!-- 用户的信息 -->
					<div id="User_Message">
						<div id="Head_Frame">
							<!-- 头像图片蒙版 -->
							<label>
								<div id="Head_Select">
									<!-- 提交头像文件 -->
									<form id="head_Form" method="post" enctype="multipart/form-data" onsubmit="return false">
										<input type="file" name="HeadImage" id='HeadFile' multiple style="visibility: hidden;">
										<font size="3" color="#ffffff">点击更换</font>
									</form>
								</div>
							</label>
							<img id="Head_Image" v-bind:src='ShowHead' style="width: 100%;height: 100%;"/>
						</div>
						<!-- 用户名称 -->
						<font size="3" color="#000000" >{{ShowName}}</font>
					</div>
					<!-- 功能列表 -->
					<div id="Function">
						<template v-for="(ListMessage,index) in Functions">
							<div v-bind:id="ListMessage.Elid" @click="Frame_Select(ListMessage.Elid,index)" class="Select_Button S_Border">
								<img v-bind:src="ListMessage.Icon" width="30px" height="70%" style="margin-top: 3px;"/>
								<font size="3" color="#03D0FF" style="" >{{ListMessage.name}}</font>
								<img v-show="ListMessage.Select" src="./images/UIimage/Select.png" width="30px" height="70%" style="margin-left: 30px;margin-top: 10px;"/>
							</div>
						</template>
					</div>
				</div>
				<div id="Function_Page" class="col-md-8 col-md-offset-1 USB_Border">
					<!-- 前端主页面 -->
					<div id="Main-box" v-if="ShowSelect == 'Main-box'">
						<img src="./images/BackImage/HelloUser.jpg" width="100%" height="100%"/>
					</div>
					<!-- 好友单元 -->
					<div id="big-box" v-else-if="ShowSelect == 'big-box'">
						<!-- 根据好友数量设置好友单元数量 -->
						<div id="Friend_List">
							<template v-for="Message in GetFriendList">
								<div class="Unit-shows">
									<img class="F_Headimage" :src="Message.Headimage" >
									<font>{{Message.name.length>3?Message.name.substring(0,3)+"..":Message.name}}</font>
									<img class="F_State" :src="'./images/UIimage/'+Message.State">
									<div class="USB_Border State_Frame" >
										<!-- 按钮UI与事件绑定 -->
										<img class="State_UI " @click="OpenOnline(Message.UserId)" src="./images/UIimage/OnlineUp.png">
										<img class="State_UI " @click="" src="./images/UIimage/Means.png">
										<img class="State_UI " @click="" src="./images/UIimage/Set.png">
									</div>
								</div>
							</template>
						</div>
						<!-- 聊天输入框 -->
						<div id="Send_Message">
							
						</div>
						<!-- 聊天信息显示框 -->
						<div id="Friend_Message">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
		<!-- 导入必要依赖 -->
		<script type="text/javascript" src="/javascripts/jquery.min.js">	</script>
		<script type="text/javascript" src="/javascripts/axios.min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/socket.io.js"></script>
		<!-- 导入依赖插件 -->
		<script type="text/javascript" src="./plug/layer/layer.js"></script>
		<script type="text/javascript" src="./plug/vue.min.js"></script>	
		<!-- 放置ejs模板传来的值,供其他js文件使用 -->
		<script type="text/javascript">
			let UserName = "<%=name%>"//用户的名称
			let HeadImage = "<%=HeadImage%>"//头像路径
			let FriendList = JSON.parse('<%- JSON.stringify(FriendList)%>')//好友信息列表
			let FriendState = "<%=FriendState%>".split("|X|")//好友在线状态
			
			let socket = io.connect('ws://127.0.0.1:3100')
			socket.emit('login',"<%=UserId%>");
			
			//用户信息框的动态绑定
			let Message_frame = new Vue({
				el:"#User_Message",
				data:{
					UserName : UserName,
					HeadImage : HeadImage
				},
				computed:{
					ShowName : function(){//设置显现的名字的样式
						return (this.UserName).length>6?(this.UserName).substring(0,5)+"..":this.UserName
					},
					ShowHead : function(){//头像的显示路径
						return this.HeadImage
					}
				}
			})
			
			//功能显示窗口
			let Show_frame = new Vue({
				el:"#Function_Page",
				data:{
					ShowSelect : "big-box",
					FriendList : FriendList,
					FriendState : FriendState
				},
				computed:{
					//获取用户信息列表
					GetFriendList:function(){
						let Online = []//在线列表
						let Out = []//离线列表
						
						//根据用户状态排序，并设置信息组
						if(this.FriendState.length != 0){
							for(let X = 0 ,Y = this.FriendList.length;X<Y;X++){							
								if(this.FriendState.indexOf(this.FriendList[X].UserId+"")!=-1){
									this.FriendList[X].State = "Online.png"
									Online.push(this.FriendList[X])
								}else{
									this.FriendList[X].State = "Out.png"
									Out.push(this.FriendList[X])
								}
							}
						}

						//拼接两个列表并返回
						return JsonJoin(Online,Out)
					},
				},
				methods:{
					OpenOnline:function(UserId){//打开聊天框事件
						
					}
				}
			})
			
			//功能选择框的动态绑定
			let Function_frame = new Vue({
				el:"#Function",
				data:{
						Functions : [
							{
								Elid : "Main_Window",
								name : "我的首页",
								Icon : "./images/UIimage/home.png",
								Hframe : "Main-box",
								Select : false
							},
							{
								Elid : "Friend_Window",
								name : "好友信息",
								Icon : "./images/UIimage/Friend_On.png",
								Hframe : "big-box",								
								Select : true								
							},
							{
								Elid : "Game_Window",
								name : "游戏列表",
								Icon : "./images/UIimage/Game_On.png",
								Hframe : "",								
								Select : false
							}
						]
				},
				methods:{
					//界面选择
					Frame_Select : function(FrameName,index){
						//设置唯一选中状态
						for(let i = 0,y = this.Functions.length;i<y;i++){
								if(i == index){
									this.Functions[i].Select = true
								}else{
									this.Functions[i].Select = false
								}
						}
						//设置显示的界面
						Show_frame.ShowSelect = this.Functions[index].Hframe
					},
				}
			})
			
			// 拼接json类型的对象
			function JsonJoin(Json_One, Json_Tow) {
			  let Join_Json = []
				
				for (let X = 0, Y = Json_One.length;X<Y;X++) {
				  Join_Json.push(Json_One[X])
				}
				
				for (let X = 0, Y = Json_Tow.length;X<Y;X++) {
				  Join_Json.push(Json_Tow[X])
				}
				
				return Join_Json
			}
			

		</script>
		<script type="text/javascript" src="./UserJavascripts/FunctionPage/index.js"></script>
		<script type="text/javascript" src="UserJavascripts/GlimmerLI/TrendsBack.js"></script>	
	</body>
</html>
